.User{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.Intro {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.User .Cell__main {
    padding-right: 0;
}

.OkButton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}