.User{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.Persik {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}
.OkButton {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}